@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
body{
    width: 99%;
    height: 100%;
    background: url("img/tlo.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: ghostwhite;
    font-family: Dosis, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: rgb(19,19,19);
    font-size: 25px;
}
.welcome{
    font-size: larger;
    text-align: center;
    margin-top: 20%;
    padding: 6px;
    background-color: rgba(0,0,0,0.4);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
button{
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 6px;
    color: floralwhite;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    width: 40%;
    will-change: transform;
    margin: 8px 3px 3px 3px;
}
button:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
button:active{
    transform: translateY(0);
}
.header-button{
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 12px;
    color: floralwhite;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    width: 176px;
    height: 50px;
    will-change: transform;
    margin: 5px 3px 3px 3px;
}
.button-box{
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-left: 3%;
}
.social-media{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 6%;
    margin-left: 10px;
    position: relative;
    right: -6%;
}
.logo{
    left: -120px;
    position: relative;
    margin-top: 10px;
}
.o_nas_main_content{
    font-size: larger;
    margin-top: 10%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.6);
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.naglowek{
    text-align: center;
    padding-top: 10px;
}
.image{
    position: relative;
}
.image_overlay{
    position: absolute;
    top: 0;
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.image_overlay > *{
    transform: translateY(10px);
    transition: transform 0.25s;
}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover > *{
    transform: translateY(0);
}
.image_title{
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}
.image_description{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}
.photo_content{
    display: inherit;
    box-shadow: 0px 40px 25px -5px rgba(0,0,0,0.03) , 10px 10px 10px -50px rgba(0,0,0,0.09);
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.main_content{
    font-size: larger;
    margin-top: 15%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.6);
    width: 35%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}
.kontakt_left-side{
    width: 250px;
}
.kontakt_right-side{
    width: 320px;
}
label{
    text-align: left;
}
input[type="text"],textarea{
    width: 180px;
    float: right;
    resize: block;
    display:inline-block;
    background-color: rgba(0,0,0,0);
    color: ghostwhite;
    border: 1px black solid;
}
h1,h2,h3,p{
    cursor: default;
}
input[type="submit"]{
    margin-left: 32%;
    display: block;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 6px;
    color: ghostwhite;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    width: 50%;
    will-change: transform;
}
input[type="submit"]:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
input[type="submit"]:active{
    transform: translateY(0);
}
.oferta_table{
    width: 100%;
    height: 100%;
}
tr, td{
    font-size: x-large;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid;

}
.oferta_content{
    font-family: 'Montserrat Black', sans-serif;
    margin-top: 8%;
    background-color: rgba(0,0,0,0.6);
    width: 55%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.button_table{
    border-style: none;
}
.border-right{
    border-right: 1px solid;
}
input[type="button"]{
    border: none;
    width: 100px;
    height: 35px;
    background-color: rgba(0,0,0,0.3);
    color: ghostwhite;
}
input[type="button"] {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    max-width: none;
    height: 44px;
    width: 140px;
    position: relative;
    text-align: center;
}
input[type="button"]:hover{
    opacity: 0.8;
}
input[type="button"]:active{
    transform: translateY(2px);
}